* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#container {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .error {
        margin-top: 10px;
        color: #FD2572;
        height: 18px;
    }

    #tabs {
        background: #F4F4F4;
        height: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-top: 1px solid #95989A;
        padding-top: 2px;

        .tab {
            font-family: "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
            line-height: 19px;
            font-size: 14px;
            text-align: center;
            color: #333333;
            text-align: center;
            width: 30%;
            cursor: pointer;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-top: #F4F4F4 4px solid;

            &.selected {
                font-weight: bold;
                border-top: #0078D4 4px solid;
            }
        }
    }

    #toolbar {
        font-family: "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        width: 100%;
        box-sizing: border-box;
        padding: 21px 20px 0;

        display: flex;
        flex-direction: row;

        .ms-Dropdown-container {
            flex-grow: 1;
            margin-right: 10px;
        }
    }

    .loading-overlay {
        z-index: 999;
        background-color: rgba(255, 255, 255, 0.8);
    }

    .loading-indicator {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .body {
        flex-grow: 1;
        padding: 20px;
        font-family: "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        overflow: scroll;
        overflow-x: hidden;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none;  /* IE 10+ */
    }

    h2 {
        margin-bottom: 16px;
    }

    .grammar-errors-list {
        display: flex;
        flex-direction: column;
    }

    .grammar-error {
        padding: 5px 7px;
        border: solid 2px #2B579A;
        margin-bottom: 10px;
        position: relative;
        font-family: "Segoe UI", "Segoe UI Web", Arial, Verdana, sans-serif;
    }
    
    .reason {
        font-weight: bold;
    }
    
    .context {
        display: block;
        margin-top: 5px;
        color: #444444;
    }
    
    mark {
        background-color: transparent;
        color: #FD2572;
        font-weight: bold;
        text-decoration: underline;
    }
    
    .suggestions-list {
        margin-bottom: 5px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .suggestions-heading {
        margin-top: 10px;
        margin-bottom: 5px;
        font-weight: bold;
    }
    
    .suggestion {
        font-weight: bold;
        background-color: #55E87F;
        padding: 2px 4px;
        margin-right: 5px;
        margin-bottom: 5px;
        cursor: pointer;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .ignored-tag-checkbox {
        margin-top: 10px;
    }
}
